extends ../../layout
block content
    div
        // #Left Sidebar ====================
        include ../../sidebar/index
        // #Main ============================
        .page-container
            include ../../header
            main.main-content.bgc-grey-100
                #mainContent
                    .container-fluid
                        a.btn.btn-primary.c-white.mb-4(href='/ventas/clientes-potenciales')
                          i.c-white-500.ti-arrow-left.mr-2
                          = 'Anterior'
                        .row.mb-4
                            .col-md-12
                              .bd.bgc-white.p-20
                                h4.c-grey-900.mb-4 Datos del cliente
                                .row
                                  .col-md-6
                                    p Nombre Completo:
                                      strong.ml-2= potencial.nombreCompleto
                                  .col-md-6
                                    p DNI:
                                      strong.ml-2= potencial.dni
                                  .col-md-6
                                    p Corre Electrónico:
                                      strong.ml-2= potencial.email
                                  .col-md-6
                                    p Teléfono:
                                      strong.ml-2= potencial.telefono
                                  .col-md-6
                                    p Celular:
                                      strong.ml-2= potencial.celular
                                  .col-md-12.text-right
                                    a.btn.btn-primary(href='/ventas/reserva/nuevo/'+potencial.dni) Reservar curso

                        .row
                            .col-md-12
                                .bd.bgc-white.p-20
                                  h4.c-grey-900 Actividades
                                  .layers
                                    .layer.w-100.mB-10
                                    .layer.w-100
                                      form(action="/ventas/actividades/nuevo" method="post" id='formActividades')
                                        .form-group
                                          input.form-control.bdc-grey-200(type="text" id='actividadInput' name="actividad" placeholder="Actividad")
                                          input(type="hidden", name="potencial", value=potencial._id)
                                          input(type="hidden", name="usuario_id", value=usuario._id)
                                          input(type="hidden", name="usuario_nombre", value=usuario.nombreCompleto)
                                        .text-right
                                          input.btn.btn-primary(type='submit' id='SubmitActividadBtn' value="Agregar Actividad") 
                                      ul.list-task.list-group(data-role='tasklist', style="max-height: 300px; overflow: auto;")
                                        table#dataTableSinFiltro.table.table-striped.table-bordered(cellspacing='0', width='100%')
                                            thead
                                                tr
                                                    th Tipo de Actividad
                                                    th Usuario
                                                    th Fecha
                                                    th Hora
                                                    th 
                                            tfoot
                                                tr
                                                    th Tipo de Actividad
                                                    th Usuario
                                                    th Fecha
                                                    th Hora 
                                                    th
                                            tbody
                                                if actividades
                                                    each actividad in actividades
                                                        tr
                                                            td= actividad.actividad
                                                            td= actividad.usuario_nombre
                                                            td= actividad.fecha
                                                            td= actividad.hora
                                                            td.text-right
                                                                a.borrar(href='/ventas/actividades/'+potencial._id+'/borrar/'+actividad._id)
                                                                    i.c-red-500.ti-close
                                        
                                      hr
                                      
                            .col-md-12
                                .bd.bgc-white.p-20
                                  h4.c-grey-900 Tareas
                                  .layers#tareasWrap
                                    .layer.w-100.mB-10
                                    .layer.w-100
                                      ul#tareas.list-task.list-group(data-role='tasklist', style="max-height: 300px; overflow: auto;")
                                        each tarea in tareas
                                          if tarea.estado == 'Pendiente' || tarea.estado == undefined
                                            li.list-group-item.bdw-0( data-role='task')
                                              .checkbox.checkbox-circle.checkbox-info.peers.ai-c
                                                input.peer(type='checkbox', name=tarea._id, id=tarea._id, data-estado=tarea.estado)
                                                label.peers.peer-greed.js-sb.ai-c(for=tarea._id)
                                                  span.peer.peer-greed=tarea.tarea
                                                    span.badge.badge-pill.ml-3.badge-success.lh-0.p-10=tarea.fecha
                                                  span.peers 
                                                    a.borrar(href='/ventas/tareas/'+potencial._id+'/borrar/'+tarea._id)
                                                      i.c-red-500.ti-close
                                      hr
                                      p.text-center
                                        a#mostrarTareas(href="#!").mb-4 Mostrar tareas completadas
                                        a#ocultarTareas(href="#!").mb-4.d-none Ocultar tareas completadas
                                        ul#tareasCompletadas.list-task.list-group.d-none(data-role='tasklist', style="max-height: 300px; overflow: auto;")
                                          each tarea in tareas
                                            if tarea.estado == 'Completado'
                                              li.list-group-item.bdw-0( data-role='task')
                                                .checkbox.checkbox-circle.checkbox-info.peers.ai-c
                                                  input.peer(type='checkbox', name=tarea._id, id=tarea._id, data-estado=tarea.estado, checked)
                                                  label.peers.peer-greed.js-sb.ai-c(for=tarea._id)
                                                    span.peer.peer-greed
                                                      del=tarea.tarea
                                                      span.badge.badge-pill.ml-3.badge-success.lh-0.p-10=tarea.fecha
                                                    span.peers 
                                                      a.borrar(href='/ventas/tareas/'+potencial._id+'/borrar/'+tarea._id)
                                                        i.c-red-500.ti-close

                                      form(action="/ventas/tareas/nuevo" method="post" id="formTareas")
                                        .form-group
                                          input.form-control.bdc-grey-200(type="text" name="tarea", id="inputTarea", placeholder="Tarea")
                                          input(type="hidden", name='potencial', value=potencial._id)
                                          input(type="hidden", name='usuario_id', value=usuario._id)
                                          input(type="hidden", name='usuario_nombre', value=usuario.nombreCompleto)
                                        .row
                                          .col-md-6
                                            .form-group
                                              .timepicker-input.input-icon.form-group
                                                  .input-group
                                                      .input-group-addon.bgc-white.bd.bdwR-0
                                                          i.ti-calendar
                                                      input.form-control.bdc-grey-200.start-date(type='text', placeholder='Fecha', name="fecha", id="fechaTarea", data-provide='datepicker' )
                                          .col-md-6
                                            .form-group
                                              .timepicker-input.input-icon.form-group
                                                  .input-group
                                                      .input-group-addon.bgc-white.bd.bdwR-0
                                                          i.ti-calendar
                                                      input.form-control.bdc-grey-200.time-date(type='text', class="time-date", placeholder='Hora', id="horaTarea", name="hora")

                                        .text-right
                                          input.btn.btn-primary(type='submit' id='SubmitTareaBtn' value="Agregar Tarea") 
    script(type='text/javascript').
        function checkActividadesForm() {
            var actividadInput = document.getElementById("actividadInput").value;
            var canSubmit = false;
            if (actividadInput == "" || !isNaN(actividadInput)) {
                canSubmit = false;
            } else {
                canSubmit = true;
            }
            if (canSubmit) {
                document.getElementById("SubmitActividadBtn").disabled = false;
            } else {
                document.getElementById("SubmitActividadBtn").disabled = true;
            }
        };   
        function checkTareasForm() {
            var inputTarea = document.getElementById("inputTarea").value;
            var fechaTarea = document.getElementById("fechaTarea").value;
            var horaTarea = document.getElementById("horaTarea").value;
            var canSubmit = false;
            if (
              inputTarea == "" || !isNaN(inputTarea) ||
              fechaTarea == "" || !isNaN(fechaTarea) ||
              horaTarea == "" || !isNaN(horaTarea)
            ){
                canSubmit = false;
            } else {
                canSubmit = true;
            }
            if (canSubmit) {
                document.getElementById("SubmitTareaBtn").disabled = false;
            } else {
                document.getElementById("SubmitTareaBtn").disabled = true;
            }
        };  
        const selectElementActividades = document.querySelector('#formActividades');
        const selectElementTareas = document.querySelector('#formTareas');
        checkActividadesForm()
        checkTareasForm()
        selectElementActividades.addEventListener('click',function(){
            checkActividadesForm()
        })
        selectElementTareas.addEventListener('click',function(){
            checkTareasForm()
        })
                       



    include ../../footer 