extends ../../layout
block content
    div
        // #Left Sidebar ====================
        include ../../sidebar/index
        // #Main ============================
        .page-container
            include ../../header
            main.main-content.bgc-grey-100
                #mainContent
                    .container-fluid
                        a.btn.btn-primary.c-white.mb-4(href='/ventas/clientes-potenciales')
                          i.c-white-500.ti-arrow-left.mr-2
                          = 'Anterior'
                        .row.mb-4
                            .col-md-12
                              .bd.bgc-white.p-20
                                h4.c-grey-900.mb-4 Datos del cliente
                                .row
                                  .col-md-6
                                    p Nombre Completo:
                                      strong.ml-2= potencial.nombreCompleto
                                  .col-md-6
                                    p DNI:
                                      strong.ml-2= potencial.dni
                                  .col-md-6
                                    p Corre Electrónico:
                                      strong.ml-2= potencial.email
                                  .col-md-6
                                    p Teléfono:
                                      strong.ml-2= potencial.telefono
                                  .col-md-6
                                    p Celular:
                                      strong.ml-2= potencial.celular

                        .row
                            .col-md-6
                                .bd.bgc-white.p-20
                                  h4.c-grey-900 Actividades
                                  .layers
                                    .layer.w-100.mB-10
                                    .layer.w-100
                                      ul.list-task.list-group(data-role='tasklist')
                                        each actividad in actividades
                                          li.list-group-item.bdw-0(data-role='task')
                                              label.peers.peer-greed.js-sb.ai-c(for='inputCall2')
                                                span.peer.peer-greed= actividad.actividad
                                                  = ' - '+actividad.usuario_nombre
                                                  span.badge.badge-pill.ml-3.badge-success.lh-0.p-10= actividad.fecha
                                                span.peers
                                                  a.borrar(href='/ventas/actividades/'+potencial._id+'/borrar/'+actividad._id)
                                                    i.c-red-500.ti-close
                                      hr
                                      form(action="/ventas/actividades/nuevo" method="post")
                                        .form-group
                                          input.form-control.bdc-grey-200(type="text" name="actividad" placeholder="Actividad")
                                          input(type="hidden", name="potencial", value=potencial._id)
                                          input(type="hidden", name="usuario_id", value=usuario._id)
                                          input(type="hidden", name="usuario_nombre", value=usuario.nombreCompleto)
                                        .text-right
                                          input.btn.btn-primary(type='submit' value="Agregar Actividad") 
                            .col-md-6
                                .bd.bgc-white.p-20
                                  h4.c-grey-900 Tareas
                                  .layers
                                    .layer.w-100.mB-10
                                    .layer.w-100
                                      ul.list-task.list-group(data-role='tasklist')
                                        each tarea in tareas
                                          li.list-group-item.bdw-0(data-role='task')
                                            .checkbox.checkbox-circle.checkbox-info.peers.ai-c
                                              input#inputCall1.peer(type='checkbox', name=tarea._id)
                                              label.peers.peer-greed.js-sb.ai-c(for=tarea._id)
                                                span.peer.peer-greed=tarea.tarea
                                                  span.badge.badge-pill.ml-3.badge-success.lh-0.p-10=tarea.fecha
                                                span.peers
                                                  a.borrar(href='/ventas/tareas/borrar/'+tarea._id)
                                                    i.c-red-500.ti-close
                                      hr
                                      p.text-center
                                        a(href="#") Monstrar tareas completadas
                                      form(action="/ventas/tareas/nuevo" method="post")
                                        .form-group
                                          input.form-control.bdc-grey-200(type="text" name="tarea" placeholder="Tarea")
                                          input(type="hidden", name=potencial._id)
                                          input(type="hidden", name=usuario._id)
                                          input(type="hidden", name=usuario.nombreCompleto)
                                        .row
                                          .col-md-6
                                            .form-group
                                              .timepicker-input.input-icon.form-group
                                                  .input-group
                                                      .input-group-addon.bgc-white.bd.bdwR-0
                                                          i.ti-calendar
                                                      input.form-control.bdc-grey-200.start-date(type='text', placeholder='Fecha', name="fecha", data-provide='datepicker' )
                                          .col-md-6
                                            .form-group
                                              .timepicker-input.input-icon.form-group
                                                  .input-group
                                                      .input-group-addon.bgc-white.bd.bdwR-0
                                                          i.ti-calendar
                                                      input.form-control.bdc-grey-200.time-date(type='text', class="time-date", placeholder='Hora', name="hora")

                                        .text-right
                                          input.btn.btn-primary(type='submit' value="Agregar Tarea") 
                            
                       



    include ../../footer 