extends ../layout
block content
    div
        // #Left Sidebar ====================
        include ../sidebar/index
        // #Main ============================
        .page-container
            include ../header
            main.main-content.bgc-grey-100
                #mainContent
                    .container-fluid
                        h4.c-grey-900.mT-10.mB-30 Gestión de Usuarios
                        .row
                            .col-md-12
                                .bgc-white.bd.bdrs-3.p-20.mB-20.position-relative                                        
                                    .tablaEditable
                                        table#dataTable.table.table-striped.table-bordered(cellspacing='0', width='100%')
                                            thead
                                                tr
                                                    th Nombre
                                                    th DNI
                                                    th Usuario
                                                    th Email
                                                    th Tipo   
                                                    th
                                            tfoot
                                                tr
                                                    th Nombre
                                                    th DNI
                                                    th Usuario
                                                    th Email
                                                    th Tipo
                                                    th
                                            tbody
                                                if usuarios
                                                    each usuario in usuarios
                                                        tr
                                                            td= usuario.nombreCompleto
                                                            td= usuario.dni
                                                            td= usuario.username
                                                            td= usuario.email
                                                            td= usuario.tipoUsuario
                                                            td.text-right
                                                                - var editarLink = "/usuarios/editar/"+usuario._id;
                                                                a.editar(href=editarLink)
                                                                    i.c-orange-500.ti-pencil.mr-2
                                                                - var eliminarLink = "/usuarios/eliminar/"+usuario._id;
                                                                a.borrar(href=eliminarLink)
                                                                    i.c-red-500.ti-close
                    
    include ../footer 