extends ../layout
block content
    div
        // #Left Sidebar ====================
        include ../sidebar
        // #Main ============================
        .page-container
            include ../header
            main.main-content.bgc-grey-100
                #mainContent
                    .container-fluid
                        h4.c-grey-900.mT-10.mB-30 Pagos
                        .text-center.text-md-right.mb-3
                            a(href="/ventas/pagos/nuevo" class="btn btn-primary") Añadir pago
                        .row
                            .col-md-12
                                .bgc-white.bd.bdrs-3.p-20.mB-20.position-relative                                        
                                    .tablaEditable
                                        table#dataTable.table.table-striped.table-bordered(cellspacing='0', width='100%')
                                            thead
                                                tr
                                                    th Nombre Completo
                                                    th DNI
                                                    th Documento
                                                    th Monto
                                                    th Fecha
                                                    th Deposito
                                                    th Boleta
                                                    th
                                            tfoot
                                                tr
                                                    th Nombre Completo
                                                    th DNI
                                                    th Documento
                                                    th Monto
                                                    th Fecha
                                                    th Deposito
                                                    th Boleta
                                                    th
                                            tbody
                                                if pagos
                                                    each pago in pagos
                                                        tr
                                                            each reserva in reservas
                                                                if reserva.id_reserva == pago.reserva
                                                                    if reserva.id_u
                                                                        each alumno in alumnos
                                                                            if reserva.id_u == alumno.id_u
                                                                                td= alumno.displayName
                                                                                td= alumno.dni
                                                                    else
                                                                        each potencial in potenciales
                                                                            if reserva.id_potencial == potencial.id_potencial
                                                                                td= potencial.nombre_apellido
                                                                                td= potencial.dni
                                                            td= pago.documento
                                                            td= 'S/. '+pago.monto
                                                            td  
                                                                - var fecha = new Date(pago.fecha);
                                                                = fecha.getDate() + '/' + (fecha.getMonth() + 1) + '/' + fecha.getFullYear()
                                                            td
                                                                a(target="_blank", href=pago.img_deposito) Ver deposito
                                                            td
                                                                a(target="_blank", href=pago.img_boleta) Ver boleta
                                                            td.text-right
                                                                - var editarLink = "/ventas/pagos/editar/"+pago.id_pago;
                                                                a.editar(href=editarLink)
                                                                    i.c-orange-500.ti-pencil.mr-2                                                                    
                                                                - var eliminarLink = "/ventas/pagos/borrar/"+pago.id_pago+"/"+pago.reserva;
                                                                a.borrar(href=eliminarLink)
                                                                    i.c-red-500.ti-close
                    
    include ../footer 